body {
    background-color: #E2FFFC;
    font-family: 'Roboto', sans-serif;
}

  .centered img {
    width: 560px;
    text-align: center;
    /* position: absolute; */
    top: 50%;
    left: 50%;
  }

  .appTitle {
      color: #316879;
      text-align: center;
      margin-top: 40px;
      font-family: 'Reggae One', cursive;
      font-size: 2.5rem;
  }
.switch-frame {
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* switch login-register*/
/* login active */
.switch-button {
    /* background: rgba(255, 255, 255, 0.56); */
    background: #64ADA6;
    border-radius: 30px;
    border-color: #64ADA6;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    /* color: #155fff; */
    /* position: relative; */
    padding-right: 120px;
    position: relative;
}
/* register inactive */
.switch-button:before {
    content: "Register";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #E2FFFC; */
    z-index: 3;
    pointer-events: none;
}
/* overlapping */
.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
   
}
.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 8px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}
/* бегунок */
.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}

/* navbar */
.navbar {
    background-color: #316879;
    padding-left: 15%;
    padding-right: 15%;
}

.navbar-brand, .nav-item, .navbar-text {
    font-size: 1.5rem;
} 

.navbar-text {
    padding-right: 10px;
}

/* footer */
footer {
    margin: 0 !important;
    
}

.footer-m {
    background-color: #316879;
    color: #E6EDEE;
    font-size: 1rem !important;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* position: static !important; */
}


/* dashboard */
.dashboard {
    background-image: url("./helthyBackgroundOpacity.png") !important;
    background-repeat: repeat;
}

/* dashboard */
.dash-row  {
    /* margin-top: 30px; */
    
    padding-top: 30px;
}

.dash-container {
    margin-left: 15%;
    margin-right: 15%;
}

.label-dash {
    color: #316879;
    /* margin-top: 30px; */
}
.dash-date {
    text-align: right;
    margin-right: 0;
}

.inputHabitsDate {
    width: 180px;
    align-items:center;
    margin-right: 0;
}
.habit {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 320px;
    border: 2px #64ADA6 solid ;
    border-radius: 10%;
    background-color: #E6EDEE;
    padding: 20px;
    box-shadow: 2px 3px #AEC4C2;
}

.labelTrackNew {
    font-size: 30px;
    color: #F47A60;
    font-weight: bold;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputStartHabit{
    font-size: 16px;
}

.input-group-text {
    border: 0 solid !important;
}
.input-group-text.S {
    padding-left: 0;
}

.input-group-text.T {
    padding-left: 0;
}

.title-row {
    height: 120px;
}

.btnTrackHabit {
    background-color: #316879;
    border-radius: 10px;
    border: none;
}

.habit-name {
    font-size: 30px;
    color: #316879;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
}
.anchor-streak {
    font-style: italic;
    color: #64ADA6;
}

.habit-freq {
    font-size: 20px;
}

.shell {
    height: 30px;
    width: 200px;
    border-radius: 13px;
    border: 1px #316879 solid ;
    background: linear-gradient(to right, #F9D2CB, #F47A60);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .bar {
    background:white;
    height: 30px;
    float: right;
  }

  .footer {
    position: relative;
    /* margin: 20px 20px 0 0; */
    float: left;
    font-size: 1.4em;
    margin: 18px 0 0 3px;
  }

  .delCross {
    position: absolute;
    top: -255px;
    right: -210px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #6c757d;
    transition: color .2s ease;
}
.delCross:hover {
      color: #333;
    }
.btnFact {
  position: absolute;
  bottom: -35px;
  right: -200px;
  height: 48px;
  border-radius: 50%;
  /* margin: 13px 0 0 0; */
  padding: 0 14px;
  cursor: pointer;
  background-color: #316879;
  color: #E6EDEE;
  border: none;
}

.habit-fact {
    color: #F47A60;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

.habit-plan {
    color: #316879;
    font-size: 30px;
    margin-left: 7px;
    font-weight: bold;
    padding-top: 10px;
}

